Repository Cihatata/monorepo-microfrontend-example: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, format-check

lint:
  run: pnpm lint
  stage_fixed: true

typecheck:
  run: pnpm -r exec tsc --noEmit

format-check:
  run: echo "Format check passed"

Initial commit
  LICENSE
Due: none

chore: add pipeline config
  .github/workflows/admin.yml
  .github/workflows/app-ci.yml
  .github/workflows/deploy-all.yml
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/platform.yml
  .github/workflows/reports.yml
  .github/workflows/shell.yml
  .github/workflows/traffic.yml
  README.md
  apps/admin/_headers
  apps/admin/_redirects
  apps/admin/rspack.config.js
  apps/platform/_headers
  apps/platform/_redirects
  apps/platform/rspack.config.js
  apps/reports/_headers
  apps/reports/_redirects
  apps/reports/rspack.config.js
  apps/shell/_headers
  apps/shell/_redirects
  apps/shell/rspack.config.js
  apps/traffic/_headers
  apps/traffic/_redirects
  apps/traffic/rspack.config.js
Due: lint, format-check

chore: remove .cursor directory and .cursorrules from git tracking
  .cursor/rules/01-architecture.mdc
  .cursor/rules/02-mf-standarts.mdc
  .cursor/rules/03-styling.mdc
  .cursor/rules/main.mdc
  .cursorrules
  .gitignore
Due: none

fix: add permissions to github actions workflow files
  .github/workflows/admin.yml
  .github/workflows/platform.yml
  .github/workflows/reports.yml
  .github/workflows/shell.yml
  .github/workflows/traffic.yml
Due: none

fix: reorder pnpm setup before node setup in ci workflow
  .github/workflows/app-ci.yml
Due: none

fix: pin pnpm version to 10.19.0 in package.json
  .github/workflows/app-ci.yml
  .github/workflows/deploy-cloudflare.yml
  package.json
Due: format-check

fix: simplify cache key generation in app-ci workflow
  .github/workflows/app-ci.yml
Due: none

fix: simplify cache key to avoid format issues in hashfiles
  .github/workflows/app-ci.yml
Due: none

fix: sanitize artifact name to remove invalid characters
  .github/workflows/app-ci.yml
Due: none

fix: add permissions to deploy-all workflow jobs
  .github/workflows/deploy-all.yml
Due: none

fix: set publicpath to / for production builds in shell
  apps/shell/rspack.config.js
Due: lint, format-check

fix: update redirects and publicpath for cloudflare pages compatibility
  apps/admin/_redirects
  apps/admin/rspack.config.js
  apps/platform/_redirects
  apps/platform/rspack.config.js
  apps/reports/_redirects
  apps/reports/rspack.config.js
  apps/shell/_redirects
  apps/traffic/_redirects
  apps/traffic/rspack.config.js
Due: lint, format-check

fix: simplify redirects config for cloudflare pages
  apps/admin/_redirects
  apps/platform/_redirects
  apps/reports/_redirects
  apps/shell/_redirects
  apps/traffic/_redirects
Due: none

fix: update cloudflare pages _redirects to use automatic spa detection
  apps/shell/_redirects
Due: none

fix: remove _redirects file to allow cloudflare pages automatic spa detection
  apps/shell/_redirects
  apps/shell/rspack.config.js
Due: lint, format-check

fix: use absolute public path for remote apps to fix chunk loading
  apps/admin/rspack.config.js
  apps/platform/rspack.config.js
  apps/reports/rspack.config.js
  apps/traffic/rspack.config.js
Due: lint, format-check

feat: integrate github api for all domain micro-frontends
  README.md
  apps/admin/src/pages/AdminHome.tsx
  apps/admin/src/services/cacheService.ts
  apps/admin/src/services/githubUsersService.ts
  apps/admin/src/types/remotes.d.ts
  apps/reports/src/pages/ReportsHome.tsx
  apps/reports/src/services/cacheService.ts
  apps/reports/src/services/githubRepoService.ts
  apps/reports/src/types/remotes.d.ts
  apps/traffic/src/pages/TrafficHome.tsx
  apps/traffic/src/services/githubService.ts
Due: lint, typecheck, format-check

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  typecheck: any of: *.{ts,tsx}
  format-check: any of: *.{js,jsx,ts,tsx,json,md}
